.footer-copyright,
a {
  display: flex;
  justify-content: center;
  align-items: center;
}

small,
i,
a {
  color: #fff;
}

a {
  margin: auto 0 auto 20px;
}

.fab {
  font-size: 25px;
}

.fab:hover {
  color: #fffacd;
}
