<footer class="page-footer bg-dark">
  <div class="footer-copyright text-center py-3">
    <small>Copyright &copy; {{ year }} Marek Rawdanowicz</small>
    <a
      href="https://linkedin.com/in/marek-rawdanowicz-42994b1bb/"
      target="_blank"
      aria-label="Open LinkedIn"
      rel="noopener"
    >
      <i class="fab fa-linkedin" aria-hidden="true"></i
    ></a>
    <a
      href="https://github.com/marraw/notes-app"
      target="_blank"
      aria-label="Open GitHub"
      rel="noopener"
      ><i class="fab fa-github" aria-hidden="true"></i
    ></a>
  </div>
</footer>
