<h5>{{note.title}} <span class="badge badge-warning badge-pill" *ngIf="note.important">Important</span>
</h5>
<div class="card">
  <textarea [disabled]="!editMode" style="background-color: #fffacd" cols="40" rows="15" #text>{{note.text}}</textarea>
</div>
<div class="form-group">
  <div class="form-check check">
    <input type="checkbox" class="form-check-input" id="important" #important [checked]="note.important"
      (change)="note.important = !note.important">
    <label for="important" class="form-check-label">Important note</label>
  </div>
</div>
<button class="btn btn-secondary"
  (click)="editMode = !editMode; note.text = text.value">{{ editMode ? 'Save' : 'Edit' }}</button>
<button class="btn btn-danger" (click)="removeNote()">Remove</button>